/*Cuerpo*/

.flex-container	{
	display: flex;
	flex-wrap: wrap;
}

.main	{
  flex: 100%;
  background-color: #f1ede8;
  padding: 20px;	
}

.l-cont	{
	flex: 50%;
	background-color: green;
	padding: 20px;
}

.r-cont	{
	flex: 50%;
	background-color: yellow;
	padding: 20px;
}